<div style="overflow:visible">
            <div class="buttonlineplaceholder">
            </div>
            <div class="buttonline"> 
                <div class="dropdown">
                    <button class="dropbtn" onclick="document.location='home'">Home</button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn" onclick="document.location='shortoverview'">Short Overview</button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn" onclick="document.location='commontypes'">Common Types</button>
                    <div class="dropdown-content">
                        <a href="decimal">Decimal Numbers</a>
                        <a href="binary">Binary Numbers</a>
                        <a href="hexadecimal">Hexadecimal Numbers</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn" onclick="document.location='convertor'">Convertor</button>
                </div>
            </div>
        </div>