<div class="footer"> Purpose of this website is to exercise elements of HTML and CSS learned during the Software Development Course at Faculty of Economics, University of Belgrade. <br> Author of this website is Milica Ušljebrka
        </div>