<div class="left">
    <a style="color:black"><b>Quick links:</b></a>
    <a href="http://www.ekof.bg.ac.rs/?lang=en">Faculty of Economics</a>
    <a href="http://www.ekof.bg.ac.rs/studies/master/master-studije-na-stranom-jeziku/international-master-in-business-informatics/?lang=en">IMBI Master Program</a>
    <a href="https://en.wikipedia.org/wiki/Numeral_system">What is numeral system</a>
    <a href="https://en.wikipedia.org/wiki/List_of_numeral_systems">List of numeral systems</a>
</div>