@page "/decimal"
@using blazor.Components

<head >
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>


<body >
  
    <div class="flex-wrapper">
        <Topbar></Topbar>
        <Buttonbar></Buttonbar>
        <div style="overflow:auto">
            <div class="orderchange">
                <Left></Left>
                <div class="main">
                    <p></p>
                    <p>Decimal system, also called Hindu-Arabic number system or Arabic number system, in mathematics, positional numeral system employing 10 as the base and requiring 10 different numerals, the digits 0, 1, 2, 3, 4, 5, 6, 7, 8, 9. It also requires a dot (decimal point) to represent decimal fractions. In this scheme, the numerals used in denoting a number take different place values depending upon position. In a base-10 system the number 543.21 represents the sum (5 x 10<sup>2</sup>) + (4 x 10<sup>1</sup>) + (3 x 10<sup>0</sup>) + (2 x 10<sup>-1</sup>) + (1 x 10<sup>-2</sup>).</p>
                    <p>This number system, with its associated arithmetic algorithms, has furnished the basis for the development of Western commerce and science since its introduction to the West in the 12th century CE.</p>
	                <p class="source">Source: https://www.britannica.com/science/decimal</p>
                </div>

                <div class="right sheldon">
                    <a><img src="assets/sheldonfront.jpg" alt="its funny" /></a>
                    <a><img src="assets/Sheldon.jpg" class="img-front" alt="its funny" /></a>
                </div>
            </div>
        </div>
       <Footer></Footer>
    </div>


</body>