@page "/shortoverview"
@using blazor.Components

<head >
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>


<body >
  
    <div class="flex-wrapper">
       <Topbar></Topbar>
        <Buttonbar></Buttonbar>
        <div style="overflow:auto">
            <div class="orderchange">
                <Left></Left>
                <div class="main">
                    <p>Very likely the earliest system of written symbols in ancient Mesopotamia was a system of symbols for numbers. Modern numeral systems are place-value systems. That is, the value of the symbol depends upon the position or place of the symbol in the representation; for example, the 2 in 20 and 200 represents two tens and two hundreds, respectively. Most ancient systems, such as the Egyptian, Roman, Hebrew, and Greek numeral systems, did not have a positional characteristic, and this complicated arithmetical calculations. </p>
                    <p class="imgp2p"><a><img src="assets/egypt.png" alt="Egypt" class="imgp2" /></a> </p>
	                <p style="text-align:center" class="source">Source:https://en.wikipedia.org/wiki/List_of_numeral_systems</p>
                    <p>Other systems, however, including the Babylonian, one version each of the Chinese and Indian, as well as the Mayan system, did employ the principle of place value.</p>
                    <p class="imgp2p"><a><img src="assets/maya.png" alt="Maya" class="imgp2"/></a> </p>
                    <p style="text-align:center" class="source">Source:https://en.wikipedia.org/wiki/List_of_numeral_systems</p>
                    <p>The most commonly used numeral system is the decimal positional numeral system, the decimal referring to the use of 10 symbols—0, 1, 2, 3, 4, 5, 6, 7, 8, 9—to construct all numbers. This was an invention of the Indians, perfected by medieval Islam. Two other common positional systems are used in computers and computing science—namely the binary system, with its two symbols 0, 1, and the hexadecimal system, with its 16 symbols 0, 1, 2,…, 9, A, B,…, F.</p>
                </div>
                <div class="right">
                </div>
            </div>
        </div>
        <Footer></Footer>
    </div>


</body>